In [1]:
import numpy as np
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
twit_data = pd.read_csv(r"c:\Users\USER\Documents\CODES\Python Work to Do\New_twitter_Data.csv", encoding = "ISO-8859-1")
twit_data

,target,id,data,flag,user,text,stemmed_content
0,0,2200003313,Tue Jun 16 18:18:13 PDT 2009,NO_QUERY,DEWGetMeTho77,@Nkluvr4eva My poor little dumpling In Holmde...,nkluvr eva poor littl dumpl holmdel vid realli...
1,0,1467998601,Mon Apr 06 23:11:18 PDT 2009,NO_QUERY,Young_J,I'm off too bed. I gotta wake up hella early t...,bed gotta wake hella earli tomorrow morn
2,0,2300049112,Tue Jun 23 13:40:12 PDT 2009,NO_QUERY,dougnawoschik,I havent been able to listen to it yet My spe...,havent abl listen yet speaker bust
3,0,1993474319,Mon Jun 01 10:26:09 PDT 2009,NO_QUERY,thireven,now remembers why solving a relatively big equ...,rememb solv rel big equat two unknown total pa...
4,0,2256551006,Sat Jun 20 12:56:51 PDT 2009,NO_QUERY,taracollins086,"Ate too much, feel sick",ate much feel sick
...,...,...,...,...,...,...,...
49995,0,1971396414,Sat May 30 07:00:40 PDT 2009,NO_QUERY,foryoutohold,"as much as i wanna eat this ham sandwhich, i c...",much wanna eat ham sandwhich cant think bad
49996,0,1974331845,Sat May 30 12:54:52 PDT 2009,NO_QUERY,KonkreteRose,Ok I GUESS I will stop bsing and get on the hi...,ok guess stop bsing get highway winston salem ...
49997,0,1966611329,Fri May 29 18:04:55 PDT 2009,NO_QUERY,apurplepatch,"@spaciireth was planning on next month, but ap...",spaciireth plan next month appar take break ma...
49998,0,2048348112,Fri Jun 05 15:03:23 PDT 2009,NO_QUERY,connieyiu,at work till 2:30 tonight,work till tonight
49999,0,1963565198,Fri May 29 12:55:00 PDT 2009,NO_QUERY,spunkysteph,Fkkk at the nurses coughing up my lungs,fkkk nurs cough lung

In [3]:
twit_data["stemmed_content"] = twit_data["stemmed_content"].astype(str)
twit_data["target"] = twit_data["target"].astype(str)
twit_data.dropna()
twit_data.dtypes

target             object
id                  int64
data               object
flag               object
user               object
text               object
stemmed_content    object
dtype: object

In [4]:
twit_data.isnull().sum()

target             0
id                 0
data               0
flag               0
user               0
text               0
stemmed_content    0
dtype: int64

*Seperating the data and the label*

In [5]:
X = twit_data["stemmed_content"].values
Y = twit_data["target"].values

In [6]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)
print(X.shape, X_train.shape, X_test.shape)

(50000,) (40000,) (10000,)

In [7]:
# Converting the text data into numerical data
vectorizer = TfidfVectorizer() 

X_train = vectorizer.fit_transform(X_train)
X_test = vectorizer.transform(X_test)

In [8]:
print(X_train)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 296469 stored elements and shape (40000, 40612)>
  Coords	Values
  (0, 16936)	0.5125190627982731
  (0, 39100)	0.24073230944538737
  (0, 36220)	0.25147103887635314
  (0, 13985)	0.2821599762915316
  (0, 20587)	0.27256168705255585
  (0, 11385)	0.5125190627982731
  (0, 35698)	0.2821599762915316
  (0, 14178)	0.24110689249411676
  (0, 33030)	0.24861170735409296
  (1, 24982)	0.36611394111780404
  (1, 3142)	0.211315842183604
  (1, 14074)	0.36611394111780404
  (1, 39378)	0.16927492334574054
  (1, 28566)	0.20066851635950098
  (1, 3361)	0.30077492029130126
  (1, 27918)	0.2435335460393696
  (1, 37972)	0.3240491491083023
  (1, 21020)	0.13388379377372947
  (1, 24969)	0.342839712300803
  (1, 20793)	0.14362681136488845
  (1, 16076)	0.2709813956695544
  (1, 24486)	0.36611394111780404
  (2, 15430)	0.37132039494829844
  (2, 31880)	0.5407932490534844
  (2, 36184)	0.7547607740692515
  :	:
  (39997, 36741)	0.2713240623693498
  (39997, 39531)	0.21450213740817717
  (39997, 27309)	0.23384233888743536
  (39997, 14398)	0.37976718443871704
  (39997, 9620)	0.37976718443871704
  (39997, 39663)	0.37976718443871704
  (39998, 15227)	0.17868778010716665
  (39998, 13619)	0.16444070237416597
  (39998, 21244)	0.23918218964587085
  (39998, 31341)	0.1694419011717702
  (39998, 11360)	0.24521446200851743
  (39998, 28440)	0.32095840102330536
  (39998, 12796)	0.27229985650882377
  (39998, 8292)	0.14393737228524783
  (39998, 12092)	0.24128484656911528
  (39998, 2315)	0.2602395315306009
  (39998, 5676)	0.3543355479456604
  (39998, 36155)	0.4156951869295551
  (39998, 11036)	0.4156951869295551
  (39999, 20793)	0.20113694263466686
  (39999, 27352)	0.28310915830525396
  (39999, 33544)	0.39786556689279334
  (39999, 3683)	0.4419853965916047
  (39999, 23333)	0.512710949108807
  (39999, 32668)	0.512710949108807

*Training the ML model*

*Logistic Regression*

In [9]:
model = LogisticRegression(max_iter=1000)
model.fit(X_train, Y_train)
X_train_prediction = model.predict(X_train)

In [10]:
# checking the accuracy of the model
training_data_accuracy = accuracy_score(Y_train, X_train_prediction)
training_data_accuracy

0.835225

In [11]:
# checking the ML-prediction and accuracy score of the test set
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(Y_test, X_test_prediction)
test_data_accuracy

0.7503

*Saving the trained model*

In [12]:
import pickle
filename = "trained_model.sav"
pickle.dump(model, open(filename, "wb"))

In [14]:
# Loadong the saved model
loaded_model = pickle.load(open("trained_model.sav", "rb"))

In [ ]:
# applying the model for data prediction
X_new = X_test[200]
print(Y_test[200])
prediction = loaded_model.predict(X_new)

if prediction == 0:
    print("Negative Tweet")
else:
    print("Correct, Positive Tweet")

1
Correct, Positive Tweet